.card {
  width: 500px;
  height: 300px;
  margin: 30px 5px;
  border-radius: 15px;
  background-color: var(--ypn-background-grey);
  overflow: hidden;
  color: black;
  position: relative;
  display: flex;
}

.cardSmall {
  width: 100%;
  height: 105px;
  margin: 0;
}

.card > img {
  object-fit: cover;
  width: 100%;
}

.cardSmall > h3 {
  text-align: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  padding: 150px 20px;
}

.overlaySmall {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.overlay h2 {
  color: white;
  font-family: var(--ypn-font-family);
  font-size: var(--ypn-font-size-normal);
  font-weight: var(--ypn-font-weight-normal);
}

.overlaySmall > h2 {
  padding: 0;
  text-align: center;
  font-family: var(--ypn-font-family);
  font-size: var(--ypn-font-size-small);
  font-weight: var(--ypn-font-weight-small);
}

.cardFlotante {
  object-fit: cover;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  display: flex;
  width: 150px;
  cursor: none;
  margin: 5px;
}

.cardFlotante > img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
    height: 250px;
  }
}
